@{
    ViewData["Title"] = "Payment Gateway";
}

<link rel="stylesheet" href="~/css/payment.css" />
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<div class="container p-0">
    <div class="card px-4" style="background-color: #E6F3FB">
        <p class="h8 py-3">Payment Details</p>
        <div class="row gx-3">
            @using (Html.BeginForm("NewOrder", "Order", FormMethod.Post, new { @id = "CheckOut" }))
            {
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Card Holder Name</p>
                        @Html.TextBox("Name", "", new { @class = "form-control mb-3", @style = "color: white", @type = "text", @oninput = "this.value=(this.value.match('[A-Z a-z]+'))" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Card Number</p>
                        @Html.TextBox("Number", "", new { @class = "form-control mb-3", @style = "color: white", @id = "Number", @type = "text", @oninput = "this.value=(this.value.match('[0-9 ]+'))", minlength = 19, maxlength = 19 })
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Expiry Date</p>
                            @Html.TextBox("Date", "", new { @class = "form-control mb-3", @style = "color: white", @id = "Date", @type = "text", @oninput = "this.value=(this.value.match('[0-9/]+'))", minlength = 7, maxlength = 7 })
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">CVV/CVC</p>
                            @Html.TextBox("Cvv", "", new { @class = "form-control mb-3", @style = "color: white", @type = "password", @oninput = "this.value=(this.value.match('[0-9]+'))", minlength = 3, maxlength = 3 })
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary mb-3" type="submit">
                        <span class="ps-3">Pay ₹@TempData["Total"]</span>
                        <span class="fas fa-arrow-right"></span>
                    </button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"></script>

    <script>
		$(document).ready(function () {
            $('#Number').mask('0000 0000 0000 0000');
            $('#Date').mask('00/0000');

			var message = '@TempData["ToastrMessage"]';
			var type = '@TempData["ToastrType"]';
			if (message) {
				toastr.options = {
					progressBar: true,
					positionClass: 'toast-top-right'
				};
				toastr[type](message);
			}

			$("#CheckOut").validate({
				rules: {
					Name: { required: true },
					Number: { required: true },
					Date: { required: true },
					Cvv: { required: true }
				},
				messages: {
					Name: { required: "Name is a required field" },
					Number: { required: "Please enter your card number" },
                    Date: { required: "Please enter your card's expiry date" },
					Cvv: { required: "CVV is required field" }
				}
			});

			$("#SignIn").validate({
				rules: {
					Email: { required: true, email: true },
					Password: { required: true }
				},
				messages: {
					Email: { required: "Email is a required field", email: "Please enter a valid email" },
					Password: { required: "Password is a required field" }
				}
			});
		});
    </script>
    <partial name="_ValidationScriptsPartial" />
}