@model GroceryStore.Models.UserModel;

<link rel="stylesheet" href="~/css/user.css" />
<div class="section" style="background-color: #FBFCF8;">
	<div class="container">
		<div class="row full-height justify-content-center">
			<div class="col-12 text-center align-self-center py-5">
				<div class="section pb-5 pt-5 pt-sm-2 text-center">
					<h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
					<input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
					<label for="reg-log"></label>
					<div class="card-3d-wrap mx-auto">
						<div class="card-3d-wrapper box-shadow shadow-lg">
							<div class="card-front">
								<div class="center-wrap">
									<div class="section text-center">
										<h4 class="mb-4 pb-3">Log In</h4>
										@using (Html.BeginForm("SignIn", "User", FormMethod.Post, new { @id = "SignUp" }))
										{
											<div class="form-group">
												@Html.TextBox("Email", "", new { @class = "form-style", @id = "logemail", maxlength = 50, @placeholder = "Your Email", @autocomplete = "off" })
 												<i class="input-icon uil uil-at"></i>
											</div>
											<div class="form-group mt-2">
												@Html.TextBox("Password", "", new { @class = "form-style", @id = "logpass", maxlength = 50, @placeholder = "Your Password", @type = "password", @autocomplete = "off" })
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<button type="submit" class="btn mt-4" id="submit">Login</button>
										}
									</div>
								</div>
							</div>
							<div class="card-back">
								<div class="center-wrap">
									<div class="section text-center">
										<h4 class="mb-4 pb-3">Sign Up</h4>
										@using (Html.BeginForm("SignUp", "User", FormMethod.Post, new { @id = "SignUp" }))
										{
											<div class="form-group">
												@Html.TextBox("Name", "", new { @class = "form-style", @id = "logname", @oninput = "this.value=(this.value.match('[A-Z a-z]+'))", maxlength = 50, @placeholder = "Your Full Name", @autocomplete = "off" })
												<i class="input-icon uil uil-user"></i>
											</div>
											<div class="form-group mt-2">
												@Html.TextBox("Email", "", new { @class = "form-style", @id = "logemail", maxlength = 50, @placeholder = "Your email", @autocomplete = "off" })
												<i class="input-icon uil uil-at"></i>
											</div>
											<div class="form-group mt-2">
												@Html.TextBox("Password", "", new { @class = "form-style", @id = "logpass", maxlength = 50, @placeholder = "Your password", @type = "password", @autocomplete = "off" })
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<div class="form-group mt-2">
												@Html.TextBox("CPassword", "", new { @class = "form-style", @id = "logpass", maxlength = 50, @placeholder = "Re-confirm your password", @type = "password", @autocomplete = "off" })
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<div class="form-group mt-2">
												@Html.TextBox("Phone", "", new { @class = "form-style", @id = "phone", @oninput = "this.value=(this.value.match('[0-9-]+'))", maxlength = 12, @placeholder = "Your Phone number", @autocomplete = "off" })
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<button type="submit" class="btn mt-4" id="submit">Sign Up</button>
										}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var message = '@TempData["ToastrMessage"]';
            var type = '@TempData["ToastrType"]';
            if (message !== "") {
                toastr.options = {
                    progressBar: true,
                    positionClass: 'toast-top-right'
                };
                toastr[type](message);
            }
        });

        $('#ShowPass').on('click', function () {
            var x = document.getElementById("Password");
            if (x.type === "password") {
                x.type = "text";
            }
            else {
                x.type = "password";
            }
        });

        $("#SignIn").validate({
            rules: {
                UserName: {
                    required: true
                },
                Password: {
                    required: true
                }
            },
            messages: {
                UserName: {
                    required: "User name is a required field",
                },
                Password: {
                    required: "Password is a required field"
                }
            }
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}