@model GroceryStore.Models.UserModel;

<h2 class="text-center">Sign Up</h2>
<div class="container col-6">
    @using (Html.BeginForm("SignUp", "User", FormMethod.Post, new { @id = "SignUp", @class = "form-control bg-light shadow-lg" }))
    {
        <div class="row mb-3 mt-3">
            <label class="col-2 ml-2"><strong>Name<span class="text-danger">*</span></strong></label>
            <div class="col-10 mr-2">
                @Html.TextBox("Name", "", new { @class = "form-control", @id = "Name", @oninput = "this.value=(this.value.match('[A-Z a-z]+'))", maxlength = 50 })
                <label class="error text-danger" for="Name"></label>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-2 ml-2"><strong>Email<span class="text-danger">*</span></strong></label>
            <div class="col-10 mr-2">
                @Html.TextBox("Email", "", new { @class = "form-control", @id = "Email", maxlength = 50 })
                <label class="error text-danger" for="Email"></label>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-2 ml-2"><strong>Password<span class="text-danger">*</span></strong></label>
            <div class="col-10 mr-2">
                @Html.TextBox("Password", "", new { @class = "form-control", @id = "Password", maxlength = 50, @type = "password" })
                @Html.CheckBox("ShowPass", new { @class = "form-check-input", @id = "ShowPass" })
                <span class="form-check-label">Show password</span>
                <br />
                <label class="error text-danger" for="Password"></label>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-2 ml-2"><strong>Confirm Password<span class="text-danger">*</span></strong></label>
            <div class="col-10 mr-2">
                @Html.TextBox("CPassword", "", new { @class = "form-control", @id = "CPassword", maxlength = 50, @type = "password" })
                <label class="error text-danger" for="CPassword"></label>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-2 ml-2"><strong>Phone<span class="text-danger">*</span></strong></label>
            <div class="col-10 mr-2">
                @Html.TextBox("Phone", "", new { @class = "form-control", @id = "Phone", @oninput = "this.value=(this.value.match('[0-9-]+'))", maxlength = 12 })
                <label class="error text-danger" for="Phone"></label>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-2 ml-2"><strong>Address<span class="text-danger">*</span></strong></label>
            <div class="col-10 mr-2">
                @Html.TextArea("Address", "", new { @class = "form-control", @id = "Address" })
                <label class="error text-danger" for="Address"></label>
            </div>
        </div>
        <div class="form-group text-center mt-2 mb-3">
            <button type="submit" class="btn btn-primary col-3 text-center" id="submit">Sign Up</button>
        </div>
        <div class="text-center mb-3">
            <label class="text-sm-center">Already a member?</label>
            <a asp-controller="User" asp-action="SignIn" class="link">Log In</a>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var message = '@TempData["ToastrMessage"]';
            var type = '@TempData["ToastrType"]';
            if (message !== "") {
                toastr.options = {
                    progressBar: true,
                    positionClass: 'toast-top-right'
                };
                toastr[type](message);
            }

            $('#Phone').mask('000-0000-000');
            
            $('#ShowPass').on('click', function () {
                var x = document.getElementById("Password");
                if (x.type === "password") {
                    x.type = "text";
                }
                else {
                    x.type = "password";
                }
            });

            $("#SignUp").validate({
                rules: {
                    Name: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    Password: {
                        required: true,
                        minlength: 8
                    },
                    CPassword: {
                        required: true,
                        equalTo: "#Password"
                    },
                    Phone: {
                        required: true
                    },
                    Address: {
                        required: true
                    }
                },
                messages: {
                    Name: {
                        required: "Name is a required field",
                    },
                    Email: {
                        required: "Email is a required field",
                        email: "Please enter a valid email"
                    },
                    Password: {
                        required: "Password is a required field",
                        minlength: "Password should be atleast 8 characters"
                    },
                    CPassword: {
                        required: "Re-enter your password",
                        equalTo: "Passwords didn't match"
                    },
                    Phone: {
                        required: "Phone number is a required field"
                    },
                    Address: {
                        required: "Address is a required field"
                    }
                }
            });
        });

    </script>
    <partial name="_ValidationScriptsPartial" />
}